In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv')

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [7]:
X_test

1425                    Yes.. now only saw your message..
2692                          Hey tmr meet at bugis 930 ?
2844    Tunji, how's the queen? how are you doing. Thi...
4802    The guy at the car shop who was flirting with ...
491     Sorry man my account's dry or I would, if you ...
                              ...
5546           Ic. There are a lotta childporn cars then.
1961    Guess what! Somebody you know secretly fancies...
2008    Hi here. have birth at on the  to  at 8lb 7oz....
3849    Can you plz tell me the ans. BSLVYL sent via f...
2261    SplashMobile: Choose from 1000s of gr8 tones e...
Name: Message, Length: 1393, dtype: object

In [8]:
y_test

1425    0
2692    0
2844    0
4802    0
491     0
       ..
5546    0
1961    1
2008    0
3849    0
2261    1
Name: spam, Length: 1393, dtype: int64

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2333]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [25]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!',
    'Rofl. Its true to its name',
    'Can you get me that coupon with 20% off on it?'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1, 0, 0], dtype=int64)

In [12]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9827709978463748

In [13]:
y_pred=model.predict(X_test_count)

In [14]:
from sklearn.metrics import confusion_matrix , classification_report

In [15]:
cm=confusion_matrix(y_pred,y_test)
cm

array([[1188,   18],
       [   6,  181]], dtype=int64)

In [16]:
#Sklearn Pipeline

from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [17]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [18]:
clf.score(X_test,y_test)

0.9827709978463748

In [19]:
clf.predict(emails)

array([0, 1, 0], dtype=int64)